/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #1f1f1f;
  width: 100%;
  margin: auto;
}
/* Estilos do header */
#container {
  background-image: url(/22/BG.svg);
  height: 804px;
  color: #fff;
  padding: 20px 0;
}

#barra {
  border-radius: 10px;
  background: rgba(33, 33, 33, 0.58);
  backdrop-filter: blur(25px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;
  padding: 25px;
}
#texto1 {
  text-align: center;
  margin-top: 50px; /* Ajuste conforme necessário */
}
.destaque1 {
  color: #f70464;
  text-align: center;
  font-family: SansSerif;
  font-size: 150px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px; /* 104.811% */
  letter-spacing: -9.6px;
}
.destaque2 {
  color: #fff;
  text-align: center;
  font-family: SansSerif;
  font-size: 157.344px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 101.688% */
  letter-spacing: -1px;
}
#texto1 h4 {
  margin-top: 80px;
  color: #fff;
  text-align: center;
  font-family: SansSerif;
  font-size: 19.2px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px; /* 150% */
  letter-spacing: 0.32px;
}

button {
  margin-top: 80px;
  border: none;
  width: 312.27px;
  height: 35.19px;
  padding: 7.4px 15.8px 8.59px 16px;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 10px;
  background: linear-gradient(89deg, #2b0248 6.15%, #c71247 93.85%);
}
#texto-principal {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main h1 {
  color: #f70464;
  font-family: SansSerif;
  font-size: 47.25px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 101.587% */
  letter-spacing: -1.6px;
  padding-top: 80px;
  margin: 0 auto;
}
main h4 {
  padding-top: 60px;
  margin: 0 auto;
  color: #fff;
  font-family: SansSerif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: 0.32px;
}

main .destaque3 {
  color: #f70464;
  font-family: SansSerif;
  font-size: 47.25px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.6px;
}
main .destaque4 {
  color: #fff;
  font-family: SansSerif;
  font-size: 47.25px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -1.6px;
}

main .destaque5 {
  color: #fff;
  font-family: SansSerif;
  font-size: 47.25px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.6px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Estilos do footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* Media queries para dispositivos menores */
@media screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Media queries para tablets e dispositivos maiores */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .container {
    max-width: 90%;
  }
}

/* Media queries para telas maiores */
@media screen and (min-width: 993px) {
  .container {
    max-width: 1200px;
  }
}
